<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>0xc0rvu5</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body body>
  <h1>Too high!</h1>
  <h2>Go again</h2>
  <img src="https://media.giphy.com/media/NJ9w7HF7fbFDqnPfKT/giphy.gif" alt="wrong">
</body>
</html>